[2014-07-18 20:54] rjmartell opened #2 "Improve performance of the test"
What kind of speedup should we see (on the "reworked" branch)? If I choose to run all tests for the "GET" profile only, it still takes approx. 24 min to complete a test run that includes 72 tests of which almost half are skipped.

![wmts-get-results](https://cloud.githubusercontent.com/assets/1653506/3631940/60dcc000-0ebd-11e4-85e7-0ee234c6a537.png)

While this is definitely quicker than before, i

[2014-07-24 23:26] bermud opened #3 "UpdateSequence comparison not working"
UpdateSequence is a string, but the test
wmts:Server.KVP.GET.GetCapabilities.Request.UpdateSequence try to compare it
with a double.
I recive the following error:
Error in call to extension function {public java.lang.Object com.occamlab.te.T
ECore.callFunction(net.sf.saxon.expr.XPathContext,java.lang.String,java.lang.S
tring,net.sf.saxon.om.NodeInfo) throws java.lang.Exception}: Exception in
exten

[2014-09-17 21:35] #3 closed, assigned to rjmartell

[2014-10-23 20:31] rjmartell opened #5 "GetFeatureInfo response entity is expected to be an XML resource"
According to the WMTS 1.0 spec (OGC 07-057r7) a `GetFeatureInfo` response entity is a “FeatureInfo document” but there are no requirements regarding its content and structure. Clause 7.3.1 stipulates that:

[code]

While a couple of formats (GML, HTML) are recommended, it appears that the only testable requirement is that the media type of the FeatureInfo document--whatever it is--must match the r

[2014-10-24 20:37] rjmartell opened #6 "Validating exception reports is very slow"
It appears that the relevant XML Schema is not provided as a local resource. This message is logged whenever an exception report is validated:

[code]

The elapsed validation time (`exception.validation.elapsed`) is usually around 17 s (although this value is likely to be system-dependent). Using local schemas would probably speed things up quite a bit.

[2014-10-28 18:11] #5 closed, assigned to nobody

[2014-10-28 19:40] #6 closed, assigned to nobody

[2014-11-03 20:00] #2 closed, assigned to nobody

[2014-11-04 12:16] matsoo opened #8 "Misspelled exception code in Invalid InfoFormat test"
InvalidParameterValue is misspelled InvaildParameterValue in the wmts:Server.KVP.GET.GetFeatureInfo.Invalid.InfoFormat test, which causes the test to fail with the following message:
The returned exception report contained unexpected exceptionCode InvalidParameterValue with locator InfoFormat.

A quick text search show that wmtsFunctions:XML.GetFeatureInfo.Invalid.InfoFormat has the same issue. Te

[2014-11-04 12:17] matsoo opened #9 "text\plain causes error in RESTful valid infoformat test"
In the wmts:Server.RESTful.GetFeatureInfo.Valid.InfoFormat test text/plain (and possibly other non-XLM formats) does not seem to be handled correctly. Using text/plain with some none XML-like text causes the following error:
Fatal Error: Error reported by XML parser; Line#: 1; Column#: 1
Error: org.xml.sax.SAXParseException; lineNumber: 1; columnNumber: 1; Content is not allowed in prolog.

text/h

[2014-11-04 12:19] matsoo opened #10 "text\html and text\plain not working in KVP valid infoformat test"
The wmts:Server.KVP.GET.GetFeatureInfo.Valid.InfoFormat test using text/html and text/plain output formats causes the same issue as in the mandatory GetFeatureInfo tests (Issue #5) that where fixed for this version, looks like the underlying function wmtsFunctions:KVP.GetFeatureInfo.Valid.InfoFormat still has this problem.

Tested on beta site in r4.

[2014-11-10 06:42] jtomaka opened #13 "Additional image formats fail WMTS tests."
If WMTS service expose image formats that the test system does not understand, the test will fail.
It should not test formats it does not understand.
In our case it was image/webp and image/jpegxr that were not understood.

[2014-11-10 06:48] jtomaka opened #14 "image/png8 tests failed in WMTS"
WMTS requires that content type returned is the same as requested for some tests.
The problem is that image/png8 and probably image/png24 is not a valid mime type so in this case image/png is returned and this is valid. Nevertheless it will fail the test:
Request 21f4fdc6/63a9ad1/e6a3f8af/d2975e14401_3:
   Method: get
   URL: http://WMTS_URL?service=WMTS&request=GetTile&version=1.0.0&layer=Landsat

[2014-11-11 08:48] jtomaka opened #15 "Test wmts:Server.KVP.GET.GetFeatureInfo.Mandatory uses incorrect format in request."
Point 6 says that it will use Format advertised by layer but it uses Layer.InfoFormat value (text/plain) as Format.

Test wmts:Server.KVP.GET.GetFeatureInfo.Mandatory type MandatoryIfImplemented default result
Passed (s0015/server.profile.kvp.get/d2975e6040_1/d2975e7188_1)

Assertion:
    1.  the request entity is a valid KVP GET GetFeatureInfo request with the mandatory request parameter with a v

[2014-11-12 01:03] jtomaka opened #16 "WMTS tests require incorrect exceptionCode."
Test wmts:Server.KVP.GET.GetFeatureInfo.Invalid.Tile.Row.TileMatrixSetLimits (View Details): Failed
Test wmts:Server.KVP.GET.GetFeatureInfo.Invalid.Tile.Col.TileMatrixSetLimits (View Details): Failed
Tests do not accept TileOutOfRange. They require InvalidParameterValue instead.
While the exception type seem to overlap, the tests part is specific about this error:
A.3.5.5 Tile TileRow and TileCol

[2014-11-27 13:10] #16 closed, assigned to nobody

[2014-11-27 13:10] #15 closed, assigned to nobody

[2014-11-27 13:11] #14 closed, assigned to nobody

[2014-11-27 13:11] #10 closed, assigned to nobody

[2014-11-27 13:11] #8 closed, assigned to nobody

[2015-02-19 17:11] rjmartell opened #20 "Functions with same name appear in wwwFunctions.xml"
There are two functions declared in wwwFunctions.xml with the same name: "wwwFunctions:provokeNotFound". This function is called by the test `Server.KVP.GET.HTTP.Mandatory` (defined in wmtsServerCommonOperationsTests.xml).

Function names should be unique; otherwise invocation is problematic.

[2015-03-02 14:04] segoerke opened #21 "TE crashes if wmsops-getmap-params-styles-5 results in an image"
If the requests sent in wmsops-getmap-params-styles-5 results in an image, TEAM Engine crashes.

Related issue: https://portal.opengeospatial.org/services/srv_public_issues.php?call=viewIssue&issue_id=923

[2015-03-02 14:34] bermud commented on #21
it is a wms issue not wmts

[2015-03-02 14:34] #21 closed

[2015-03-19 13:27] bermud opened #22 "Test memory issues"
When executing KVP for this
http://cite.lat-lon.de/deegree-webservices-3.4-pre15/services/wmts?service=WMTS&request=GetCapabilities

The test console stops (freezes) in this test:

[code]

The logs report the following:
[code]

[2015-03-26 13:40] dbretschneider commented on #22
I have executed the actual ```ets-wmts10``` test suite (```master```) against [deegree 3.4-pre15](http://cite.lat-lon.de/deegree-webservices-3.4-pre15/services/wmts?service=WMTS&request=GetCapabilities). The test took 15 minutes for all steps without freezing.

[2015-03-27 10:40] dbretschneider commented on #20
There was a function which references itself:
[code]

I have renamed the function name from ```wwwFunctions:provokeNotFound``` to ```wwwFunctions:provokeNotExistentService```.

Pull request: https://github.com/opengeospatial/ets-wmts10/pull/23

[2015-03-27 11:10] dbretschneider commented on #22
I've selected all profiles and execute all operations:

![selected_profiles](https://cloud.githubusercontent.com/assets/3016561/6866271/cf880a62-d476-11e4-9d9f-bc5aa23dde65.png)

![test_group_selection](https://cloud.githubusercontent.com/assets/3016561/6866276/dbc458d0-d476-11e4-8bf1-fae5f7e34a19.png)

But only HTTP Get was executed in 15 minutes. All other profiles are not supported.

[2015-04-14 06:20] dbretschneider commented on #9
@matsoo
I don't know what's the current state. Does the error message occurs with the actual version of the ```ets-wmts10```?

[2015-04-15 13:17] segoerke commented on #20
https://github.com/opengeospatial/ets-wmts10/pull/23

[2015-04-15 13:17] #20 closed

[2015-04-21 12:30] matsoo commented on #9
@dbretschneider
This tests on the beta site now seems to work properly (test version 0.5). I don't have a local TEAM Engine setup at the moment so I have not checked if there is a later version than that.

[2015-04-21 13:52] bermud commented on #9
@matsoo
The latest version of the test is 0.5. Will close this issue.
Is your application passing all the tests? We need first implementers to move the test suite through the OGC process and get it approved.

[2015-04-21 13:52] #9 closed

[2015-04-23 08:29] dbretschneider commented on #22
@bermud: Can we close this issue or is it occurred again?

[2015-04-23 12:29] bermud commented on #22
In the current TE beta the test finishes successfully. Still some errors with the server implementation.

[2015-04-23 12:29] #22 closed

[2015-08-14 09:39] matsoo opened #24 "wmts:Server.RESTful.HTTP.Mandatory does not work with self-declaring service"
The wmts:Server.RESTful.HTTP.Mandatory test is supposed to test a invalid url and verify that the response is a 404 http code, but the url it sends is the base url for the service which we use to return capabilities.

As far as I can tell there is nothing in the WMTS specification that prohibits this (10.1.1 in the specification says any url can be used for ServiceMetadata) and I don't think it is

[2015-11-23 11:58] matsoo opened #25 "InheritedFailure and error in prerequisite checks for several optional features"
When running the WMTS-tests on the beta site, several of the test groups generate a inherited failure even if all the subtests pass or are skipped. The tests groups have in common that they all test optional functionality that is not implemented on the server and is skipped. I have only tested GET binding and REST binding as our server does not implement the other bindings, so they may also have t

[2015-12-08 13:54] lgoltz commented on #24
Can you provide the service URL or at least the capabilities document?

[2015-12-09 16:32] bermud commented on #25
I also added the issue in TE, with screenshots and logs https://github.com/opengeospatial/teamengine/issues/141.

@dstenger, please let us know if this is an issue of the WMTS test or TE.

[2015-12-10 09:21] matsoo commented on #24
Try using the following service:
http://192.71.92.21/MapService/wmts.axd/Vmap0WMTS
This url also returns the capabilities document, which is what causes this problem.

[2015-12-10 11:15] lgoltz commented on #24
Thanks, now I understand the problem. As you say adding an nonesuch parameter would be duplicated, but maybe it could be a way to append an invalid path to the url, like: http://192.71.92.21/MapService/wmts.axd/Vmap0WMTS/nonesuch

[2015-12-10 15:29] bermud commented on #25
@dstenger, have you found the issue?

We have found the issue might be in the test. TE is behaving correctly.

The problem is with mismatches on the functions parameters.

For example:
In the wmts test suite one test, in the `wmtsFunction.xml` file, `wmts:CommonOperations.Mandatory.KVP.GET` has a function `wmtsFunctions:invokeSelectedTests`.

This function has the variables `kvpGetCapabilitiesURL`

[2015-12-14 12:31] dstenger commented on #24
If an invalid path is appended, the tests
 * Server.RESTful.HTTP.Mandatory
and
 * wmts:Server.RESTful.InvalidQueryString
are doing exactly the same.

After having read the Assertion
{{{
Assertion:
	A.  TBD: First Draft:   HTTP status code 404
	1.  The request entity is for a non-existent service
	2.  The HTTP status code value is set to 404, corresponding to the message &quot;Not Found&quot;
}}}
I

[2015-12-14 14:08] dstenger commented on #13
Can you provide a test service URL to reproduce the error and to verify a potential fix?

Fix could be implemented as described by @rjmartell.

[2015-12-14 14:18] dstenger commented on #25
But why should "Test wmts:GetCapabilities.Implemented.KVP.GET" fail then and " Test wmts:GetCapabilities.Mandatory.KVP.GET" is passing?

[2015-12-14 14:22] bermud commented on #13
@jtomaka, can you please provide a service URL for further testing?

[2015-12-14 14:25] bermud commented on #24
@rjmartell, please advise how to better improve the test assertion.

[2015-12-17 00:13] rjmartell commented on #24
The test in question lurks in the wmtsServerCommonOperationsTests.xml file. There is no reference to an abstract test case (Annex A of the WMTS 1.0 spec) or any other requirement, so it's unclear what is meant by a "non-existent service".

In the draft test suite description (0.7, 2011-10-31), no assertions are listed for test case [Server.RESTful.HTTP.Mandatory](http://cite.opengeospatial.org/te2

[2015-12-21 19:35] rjmartell commented on #24
Clause 10 in the WMTS specification distinguishes three kinds of resources:

* service (ServiceMetadata)
* map tiles (Tile)
* feature info (FeatureInfo)

[2015-12-21 20:11] rjmartell commented on #24
Perhaps this can test for an unknown resource: either an unsupported URL or an unsupported media type. Since the purpose of ATC A.3.1.5 mentions a service metadata request and the intent is to elicit a service exception, specify an unsupported media type using the Accept header (see cl. 10.1.1); the response must indicate an error with status code 406 (Not Acceptable).

[2015-12-21 21:36] #24 closed

[2015-12-21 23:38] rjmartell commented on #13
The test definition is in wmtsServerGetTileTests.xml. It invokes the function `wmtsFunctions:KVP.GetTile.Valid.Tile.Size` (defined in wmtsFunctions.xml).

[2015-12-23 17:32] rjmartell commented on #13
The proposed fix: Check if the image media type (extracted from the Content-Type response header) corresponds to a supported image type (media subtype, which usually matches a file extension, e.g. "png", "jpeg" ). If not, produce a **skip** instead of a fail verdict.

[2015-12-23 18:15] rjmartell commented on #13
This function is implemented in a very coarse manner, with 8 nested `<xsl:for-each>` elements! Every invocation sends multiple requests (e.g. 18 requests sent when run against the service at http://192.71.92.21/MapService/wmts.axd/Vmap0WMTS). So if any one request produces a skip verdict then the whole test is marked as skipped even if all the other requests were ok.

**Note**: The function is cal

[2015-12-23 19:13] rjmartell commented on #25
The WMTS suite uses both the `ctl:notTested` (2) and `ctl:skipped` (3) results. The former is supposed to indicate that "a test was not performed because it was not selected for execution", whereas the latter indicates that "a test was skipped because the capabilities being tested were not implemented or some test prerequisites were not met". How do these affect the overall result assigned to a pa

[2015-12-23 19:35] rjmartell commented on #25
See https://github.com/opengeospatial/teamengine/issues/141

[2015-12-23 19:35] #25 closed

[2016-01-05 20:14] rjmartell commented on #13
Introduce `wmts:GetTileMatrixByImageFormat` as a subtest that accepts an image media type (format) as an input parameter. It's called once for each supported image format:

    <xsl:for-each select="distinct-values($wmts.capabilities.doc//wmts:Layer/wmts:Format/text())">
      <ctl:call-test name="wmts:GetTileMatrixByImageFormat">
        <ctl:with-param name="image-format" select="." />

[2016-01-05 20:18] #13 closed

[2016-01-07 17:45] bermud opened #26 "Conformance Determination: Simple profile"
In the overview page
http://cite.opengeospatial.org/te2/about/wmts/1.0.0/site/

It says:
All tests in one or more protocol binding profiles must be selected for conformance certification.

Is this "rule" properly coded/enforced in the test?

[2016-01-13 21:38] bermud commented on #26
From our conversation, it seems the result is not machine readable since the profiles are broken into sub reports and there is no check from a parent report that at least one profile is passing so certification can be granted. Maybe this issue is to be fixed as part of the profiles work to be done in testbed 12.

[2016-02-16 21:14] bermud commented on #26
What its the core most basic that we can extract from this test?

[2016-02-18 20:06] rjmartell commented on #26
See summary on this wiki page: [WMTS-Simple-Profile](/opengeospatial/ets-wmts10/wiki/WMTS-Simple-Profile)

[2016-03-14 08:57] bermud opened #27 "Schematron to be included in the test"
Check that this schematron is included in the test
http://schemas.opengis.net/wmts/1.0/profiles/wmts-simple/

[2016-09-22 18:58] bermud commented on #26
Schemas are here:
http://schemas.opengis.net/wmts/1.0/profiles/wmts-simple/

issue: the identifiers of the tilematrixsets are fixed to 3 names: WorldWebMercatorQuad, WorldCRS84Quad or InspireCRS84Quad.

However; this is NOT a requirement in WMTS simple profile.

[2016-11-02 16:32] mcechini opened #29 "Unclear ResourceURL validation"
In the wmts:GetTile.Mandatory.RESTful test, we see all of the test items fail with the following code:

   FAILURE: invalid template
http://gibs.earthdata.nasa.gov/wmts/epsg4326/best/MODIS_Terra_Data_No_Data/default/{Time}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}.png

However, it is not clear why this is invalid.  I don’t see a test that simply does validation of the template, nor are ther

[2016-11-02 16:38] mcechini opened #30 "Bogus KVP request validation"
For the wmts:Server.RESTful.HTTP.Mandatory test...

A request with the following invalid content:
	service=WMTS&amp;request=GetBOGUS

Should reply as such:
	2.  the response entity is a schema-valid ows:Exception document.
	3.  the response entity contains an exceptionCode attribute value of "InvalidParameterValue".
	4.  the response entity contains a locator attribute value of "request".
	5.  the

[2016-11-02 16:41] mcechini opened #31 "Unclear test case details for bogus REST GC request"
For the wmts:Server.RESTful.HTTP.Mandatory test...

It unclear what the actual URL request will look like for the following test item.  I was not able to reproduce or detect the failure.

1.  the request invokes a URL that consists of the ServiceMetadataURL advertised in the Service Metadata document, concatenated with "/Bogus".

[2016-11-02 20:16] vinnakota opened #32 "Hard coded style and tileMatrixSet identifiers"
Test engine requires style and tileMatrixSet identifiers to match specific strings. Not all servers allow modifying these values. Is it possible for the test engine to retrieve these values from the WMTS capabilities based on the layer identifier "TransparentNodata"

[2016-11-04 07:37] dstenger commented on #32
I agree with you that this is a rigid restriction (of course, it is documented in Test Data section on http://cite.opengeospatial.org/te2/about/wmts/1.0.0/site/).

On the other hand, if a server supports multiple styles and tileMatrixSets, the user cannot control which style and tileMatrixSet is picked (and this is important as there is an expected response, which is described in the Test Data sec

[2017-01-05 17:06] bermud commented on #26
The minimum, most basic conformance class to get certified is the "Profile: GET binding" as stated in revision 0.7

[2017-01-05 17:06] #26 closed

[2017-01-05 20:55] bermud opened #33 "Prepare Tag 1.0 - Test got approved by OGC TC"
Vote started: 2016-10-28
Vote ended: 2016-12-12

Only the GET binding profile should be visible. It should be selected by default.
Need to remove or hide the other profiles from the  beginning of the test.

[2017-01-05 21:31] bermud opened #34 "Remove not approved profiles for 1.0"
The user should only be provide a field for Capabilities document.

No need to allow selection of profiles.

The GET binding profile should run by default.

Need to remove or hide the other profiles from the beginning of the test (WMTS_ETS.xml file and config.xml)

[2017-01-09 12:17] keshav-nangare commented on #34
Fixed with this commit: 07e9b589c87d365f17fd6a0af280109e578382b3

[2017-01-09 13:36] dstenger commented on #31
Following is tested:
[code]

For more detail please also see last comments of https://github.com/opengeospatial/ets-wmts10/issues/24

[2017-01-09 14:16] bermud commented on #34
@keshav-nangare, I verified the commit. The RIs are passing and interface looks good. Thank you!
@dstenger, please verify an integrate the feature-issue#34 to master, as long with the other possible fixes, for the release this week.

[2017-01-09 14:31] dstenger commented on #30
You are probably talking about following tests?
* wmts:Server.KVP.GET.InvalidService
* wmts:Server.KVP.POST.InvalidService
* wmts:Server.XML.POST.InvalidService
* wmts:Server.SOAP.POST.InvalidService

These tests base on OpenGIS Web Service Common Implementation Specification (OGC 06-121r3) being a base document of WMTS 1.0.
Chapter 7.4.1, pp. 22 and table 8, p. 23 describe why an InvalidParameter

[2017-01-10 09:22] dstenger commented on #34
Following could be verified:
* GET binding profile is always run (by default).
* All other profiles are not executed any more.
Also, a functional test was successful.

PR was created: #35
and merged into master branch.
Tags are set and release notes are up to date.

[2017-01-10 09:22] #34 closed

[2017-01-10 11:29] lgoltz commented on #29
The test checks if the resource template contains the following parts:
 * the Id of the current layer
 * {TileMatrixSet}
 * {TileMatrix}
 * {TileRow}
 * the identifier of the dimensions of the current layer in curly brackets

All of them are tested **case sensitive**. I assume the test fails cause of the dimension which has the identifier 'time' but in the template {Time} is set.

By the way: In t

[2017-01-17 16:19] dstenger commented on #32
Discussed solution: An identifier can be provided via GUI. If none is provided the current mechanism is kept (default identifier).

[2017-01-17 16:21] bermud commented on #31
@mcechini, can you please provide more details about this issue? The request you are making and the complete error you are getting. Thank you!

[2017-01-17 16:30] bermud commented on #30
I agree if the value of a parameter is incorrect then the server should report InvalidParameterValue, 400, Bad request.  These include the parameters SERVICE and REQUEST.

[2017-01-17 16:33] #29 closed

[2017-01-17 16:33] dstenger commented on #29
Closed as test is not part of test suite any more.

[2017-01-18 16:29] mcechini commented on #30
ok, thanks.  it wasn't clear where that requirement was coming from.

[2017-01-18 16:34] mcechini commented on #31
Just trying to figure out how to mock up this request.  Given our GC available [here](http://gibs.earthdata.nasa.gov/wmts/epsg4326/best/1.0.0/WMTSCapabilities.xml), please provide a sample curl command that can be used to test.

[2017-01-19 09:26] #30 closed

[2017-04-20 07:36] lgoltz commented on #31
The test wmts:Server.RESTful.HTTP.Mandatory does not append '/Bogus' to the service metadata URL. As described in https://github.com/opengeospatial/ets-wmts10/issues/31#issuecomment-271285636 the Capabilities are requested with an unsupport accept header (example/unknown).

The curl command should be:  `curl -H "Accept: example/unknown" <SERVICE_METADATA_URL>` where <SERVICE_METADATA_URL> is the s

[2017-04-21 15:10] mcechini commented on #31
If that's the case, then it sounds like the test description is incorrect or what you are describing is a totally different test and the details of this one are still unclear.

[2017-04-24 05:55] lgoltz commented on #31
The test you mention by name and describe in https://github.com/opengeospatial/ets-wmts10/issues/31#issue-186854523 are not the same.  _wmts:Server.RESTful.HTTP.Mandatory_ is the one described in https://github.com/opengeospatial/ets-wmts10/issues/31#issuecomment-295611321.
The test you describe in https://github.com/opengeospatial/ets-wmts10/issues/31#issue-186854523 seems to be the test _wmts:Se

[2017-04-24 12:25] mcechini commented on #31
Ok, I  must have gotten confused by the interface when pulling out that reference number.  But I now have the information I was looking for in your last comment.  Thanks.

[2017-04-24 12:25] #31 closed

[2017-04-25 07:40] lgoltz commented on #32
From the code side of view I see that the following four tests are requesting the layer _TransparentNodata_:
 * wmtsFunctions:KVP.GetTile.Valid.Tile.Transparency
 * wmtsFunctions:XML.GetTile.Valid.Tile.Transparency
 * wmtsFunctions:SOAP.GetTile.Valid.Tile.Transparency
 * wmtsFunctions:RESTful.GetTile.Valid.Tile.Transparency

All of them are selecting the tileMatrixSet identifier and tileMatrix ide

[2017-04-26 13:27] bermud commented on #33
Released in OGC Validation tools 201612.

[2017-04-26 13:27] #33 closed

[2017-04-26 13:44] bermud opened #36 "Update CTL with better information about conformance classes"
The test needs to be updated to better provide information about the grouping of the conformance class and determination about which ones are the basic conformance classes needed for certification.

Changes that are required are described here:
https://github.com/opengeospatial/cite/wiki/Encoding-Conformance-Classes

[2017-05-17 13:55] dstenger commented on #32
@vinnakota, can you please take a look at the previously given answer by lgoltz?

[2017-09-12 08:52] dstenger opened #38 "Test wmts:main fails because of invalid Content-Type"
Following error occurs:

[code]

[2017-09-13 09:29] dstenger commented on #38
Fix was implemented and pull request created (#39).
The fix will be merged into master branch when the next release will be created (and testing will have been successful).

[2017-10-27 14:09] #38 closed

[2017-11-27 15:24] nmco opened #40 "CTL feedback should be more explicit about which particular test failed"
Consider the following tests execution report, this is what we get when we click on a test details from the UI:

![image](https://user-images.githubusercontent.com/1590542/33274164-350aaf04-d387-11e7-9d29-2f091db18a38.png)

[code]

One of the tests failed because there is a wrong ``locator`` that was used in the exception report. The spot this error we have to go carefully thought all the log abov

[2017-11-27 15:57] nmco opened #41 "It seems that not all selected tests are run even if all the pre requisites are valid"
The testing server was configured with all the necessary data:
[code]
According to the ``GetFeatureInfo`` tests where selected for running:
[code]

But according to the test report no ``GetFeatureInfo`` test run:

![image](https://user-images.githubusercontent.com/1590542/33275799-98149426-d38b-11e7-9356-39a8c8880f27.png)

Not that all operations were selected for testing:

![image](https://user-i

[2017-12-05 11:31] robinhoutmeyers opened #42 "Test wmts:Server.KVP.GET.GetCapabilities.Response.SchemaReferenced does not detect valid schema reference"
The test verifies whether the GetCapabilities response entity references a normative(wmts.xsd or wmtsGetCapabilities_response.xsd) XML schema.

This is the case with the tested service http://demo.luciad.com:8080/LuciadFusionPlatform/ogc/wmts/bluemarbleworldimage?service=WMTS&request=GetCapabilities (it refers to wmts.xsd on schemas.opengis.net) but the test does not seem to detect this.

We get a

[2017-12-06 15:08] dstenger commented on #42
Thank you for reporting. We will do further investigation.

[2017-12-07 07:43] keshav-nangare commented on #41
@dstenger

According to the issue https://github.com/opengeospatial/teamengine/issues/141  and https://github.com/opengeospatial/ets-wmts10/pull/28 the optional tests was removed, so the test `GetFeatureInfo` is optional that's why it is not executed.

[2017-12-15 10:11] keshav-nangare commented on #42
Fixed with this commit: ce2df81d8250e913789b3e6e6393dbcc09469b6c. [PR #43]

[2017-12-18 07:29] lgoltz commented on #36
The specification does not define any conformance classes.

The WMTS 1.0 ETS groups the tests into the following four groups:
* Common Operations
* Get Capabilities
* Get Tile
* Get Feature Info

For each group it is possible (via Web GUI) to choose between executing
1. all
1. selected (single test can be selected by the user in the next step)
1. none

We have to decide if we want to specify confo

[2017-12-29 10:10] keshav-nangare commented on #40
Added the [FAILURE] tag before the message.

Fixed with the commit: 84d6bd792d3d59e58016b4a237f46896ebf74814 [PR: #44]

[2018-04-04 09:51] dstenger commented on #32
@vinnakota Is there any update regarding this issue?

[2018-04-04 14:00] vinnakota commented on #32
@dstenger apologies for the delayed response. I don't remember all the details and would need to retest this issue. Can we close this issue for now ?

[2018-04-04 14:31] dstenger commented on #32
Sure, if the issue pops up again, we can reopen this issue.

[2018-04-04 14:31] #32 closed

[2018-05-08 13:15] #36 closed

[2018-05-08 15:01] dstenger opened #46 "Activate other encodings than KVP.GET"
Currently, just KVP.GET encoding is activated.

Following encodings are deactivated (by commit https://github.com/opengeospatial/ets-wmts10/commit/98a307f8d77d9a1748a5a3a3b6f0cd9212361a6e):

* KVP.POST
* XML.POST
* SOAP.POST
* RESTful

These encodings shall be supported by test suite as well.

Hint: Also consider #34.

[2018-05-08 15:14] dstenger commented on #42
@robinhoutmeyers The provided test service is not available any more. Can you please reactivate it to enable testing of this fix?

[2018-05-08 15:25] dstenger opened #47 "Reactivate optional tests"
These were deactivated by #28.

#41, for example, asks for GetFeatureInfo tests which were removed.

[2018-05-09 08:10] robinhoutmeyers commented on #42
@dstenger yes, I'll enable it Monday morning (currently out of office without access to the server).

[2018-05-11 12:56] dstenger commented on #40
@keshav-nangare Can you please resolve the merge conflicts of https://github.com/opengeospatial/ets-wmts10/pull/44#issuecomment-387435253?

[2018-05-14 08:59] robinhoutmeyers commented on #42
@dstenger You can access the capabilities again at http://demo.luciad.com:8080/LuciadFusionPlatformT/ogc/wmts/bluemarble?service=WMTS&request=GetCapabilities

[2018-05-14 09:41] dstenger commented on #42
@robinhoutmeyers

Thank you for providing the service.
I tested the fix successfully using your service and merged the pull request.

We will create a new release and install it on beta web site soon.

[2018-05-15 17:30] #40 closed

[2018-08-22 07:59] dstenger opened #48 "Create SoapUI tests and integrate them into Maven and Jenkinsfile"
See https://github.com/opengeospatial/ets-wms13/issues/56 for instructions.

Please use following service implementation: http://cite.deegree.org/deegree-webservices-3.4.0/services/wmts100?service=WMTS&request=GetCapabilities

[2018-08-30 13:29] keshav-nangare commented on #48
The ets-wmts10 is based on the CTL so we can't execute this test-suite through the REST api.

[2018-09-05 11:35] keshav-nangare opened #49 "Enable test execution using a RESTful API"
Create an interface to execute CTL test-suite using RESTful API.

Reference: https://github.com/opengeospatial/ets-wms13/issues/34

[2018-09-13 12:16] lgoltz commented on #48
#49 must be implemented first

[2018-10-16 07:11] keshav-nangare commented on #49
Fixed with this PR #50.

[2018-10-24 09:50] keshav-nangare commented on #48
Fixed with this PR https://github.com/opengeospatial/ets-wmts10/pull/51.

[2019-01-18 09:56] aaime commented on #34
Hi, I was hoping to validate a WMTS restful implementation via CITE tests but it seems that due to the work in this issue they are not getting run. May I ask why, I don't see the rationale.

[2019-01-18 11:34] dstenger commented on #34
The other profiles have not been approved, yet.

If you are interested in the REST profile please create a new issue. We would be very happy if you can also provide a test service for the REST profile.

[2019-04-15 13:59] #48 closed

[2019-04-15 14:13] #49 closed

[2019-04-15 14:16] dstenger opened #52 "Enable Docker support and configure integration tests"
Please see:
* https://github.com/opengeospatial/cite/wiki/How-to-create-Docker-Images-of-test-suites
* https://github.com/opengeospatial/cite/wiki/How-to-run-tests-for-test-suites-with-SoapUI

[2019-04-19 12:32] keshav-nangare commented on #52
Fixed with this PR #53.

[2019-05-15 09:48] dstenger commented on #52
TODO: Update Docker TEAM Engine version to 5.4 when it has been released.

TEAM Engine 5.4 is required before merging this pull request.
After this pull request will have been merged:
- Create test job in Jenkins
- Create Docker Hub repository

[2019-05-15 09:51] dstenger commented on #52
@keshav-nangare
Build with `mvn clean install site -Pintegration-tests,docker` is currently failing (needs TEAM Engine version 5.4-SNAPSHOT).
Can you please check the SoapUI project? It should be similar to the one of WFS 2.0 test suite.

[2019-07-08 18:49] pomakis opened #54 "Test wmts:Server.KVP.GET.InvalidQueryString is flawed"
The wmts:Server.KVP.GET.InvalidQueryString test throws a garbage query string at the WMTS GetCapabilities base URL and expects to get an ows:ExceptionReport back.  However, a WMTS GetCapabilities base URL isn't a complete URL to a WMTS service.  It needs a valid SERVICE=WMTS query parameter.  This mechanism allows multiple services (WMS, WMTS, WFS, WCS, etc.) to be handled by a single base URL.

T

[2019-07-08 19:00] pomakis opened #55 "Test wmts:Server.KVP.GET.InvalidService is flawed"
The wmts:Server.KVP.GET.InvalidService test makes a request to the WMTS GetCapabilities base URL with a garbage value for the SERVICE parameter and expects to get an OWS Common 1.1.0 exception report back.  However, without specifying SERVICE=WMTS, the endpoint handler has no way of knowing which service is being invoked, and therefore has no way of knowing what type of exception report to return.

[2019-07-08 19:21] pomakis opened #56 "Test wmts:Server.KVP.GET.InvalidRequest is flawed"
The wmts:Server.KVP.GET.InvalidRequest test makes a request with query parameters "service=WMTS&request=GetBOGUS" and expects to get an exception report back indicating "InvalidParameterValue".  However, WMTS 1.0 is bound by the OWS Common Implementation Specification (OGC 06-121r3), which states (in section 9.2.1) that "version" is a mandatory parameter.  Since this parameter is missing from the

[2019-07-08 20:11] pomakis commented on #55
The wmts:Server.KVP.GET.GetCapabilities.Request.NoService is also flawed in the same way.

[2019-07-08 20:12] pomakis commented on #55
As is the wmts:Server.KVP.GET.GetCapabilities.Request.InvalidService test.

[2019-07-08 20:23] pomakis opened #57 "https not supported"
The wmts:Server.KVP.GET.GetCapabilities.Response.OnlineResource test only accepts URL prefixes that start with "http://".  "https://" prefixes need to be accepted too.

[2019-07-08 20:23] pomakis opened #58 "URL prefixes that end in '&' are not supported"
The wmts:Server.KVP.GET.GetCapabilities.Response.OnlineResource test only accepts URL prefixes that end with '?'.  However, the OWS Common Implementation Specification (OGC 06-121r3), section 11.2, states "an HTTP GET URL prefix always ends either a question mark '?' or an ampersand '&'".

[2019-07-09 08:22] dstenger commented on #54
Thank you for reporting. We will check if the test can be adjusted according to your proposal (SERVICE=WMTS is existent).

[2019-07-09 08:30] dstenger commented on #55
Thank you for reporting. This issue is related to #54.

[2019-07-09 08:34] dstenger commented on #56
Thank you for reporting. Is similar to #54 and #55 (however, in this case version parameter is considered).

[2019-07-09 08:35] dstenger commented on #57
Thank you for reporting. We will check this behaviour. Can you provide a test service?

[2019-07-09 08:36] dstenger commented on #58
Thank you for reporting. We will do further investigation.

[2019-07-09 13:19] pomakis commented on #57
Here's a test service:
https://demo.cubewerx.com/cubewerx/cubeserv/cite_wmts100/wmts/1.0.0/WMTSCapabilities.xml

[2019-07-09 13:52] pomakis opened #59 "A GetCapabilities request should use "AcceptVersions", not "version""
The wmts:Server.KVP.GET.GetCapabilities.Request.CaseInsensitive.KVP.Names test makes a request with a "version=1.0.0" parameter.  However, according to the OWS Common Implementation Specification (OGC 06-121r3), section 7.2.3, the GetCapabilities operation doesn't take a "version" parameter.  Instead, it takes an optional "AcceptVersions" parameter so that version negotiation can be performed.  So

[2019-07-09 14:20] dstenger commented on #59
Thank you for reporting. We will check the specification and come back to you.

[2019-07-22 10:40] keshav-nangare commented on #57
Fixed with this commit: 6bf30f0bb5807ba2eb62987b9fe56a63616c9a26.

Now test will support prefix 'https://' too.

[2019-07-31 07:28] lgoltz commented on #59
`AcceptVersions=1.0.0` must be added to all GetCapabilities GET requests.

[2019-08-12 09:03] keshav-nangare commented on #52
@dstenger

Updated SoapUI Project and teamengine version to 5.4. The changes are pushed to the same PR.

[2019-08-12 10:18] keshav-nangare commented on #59
Following are the tests need to update:

Missing version parameter:

[code]

Using 'version' parameter:

`wmts:Server.KVP.GET.GetCapabilities.Request.CaseInsensitive.KVP.Names`

[2019-08-13 09:00] keshav-nangare commented on #59
Updated all GetCapabilities request with a parameter "AcceptVersions".

Fixed with this commit: 5d9f3608047b84d45bd686f6fa06d50f8f3742b5  & PR: #61

[2019-08-19 12:41] #52 closed

[2019-08-19 13:07] dstenger commented on #59
Thank you for the pull request.

However, isn't test `wmts:Server.KVP.GET.GetCapabilities.Request.CaseInsensitive.KVP.Names` still requested with `version` parameter. Can you please check this?

[2019-08-19 13:14] #57 closed

[2019-09-18 11:55] keshav-nangare commented on #59
@dstenger

I have updated the PR with new changes and it includes above test changes as well.

[2020-01-07 11:55] lgoltz commented on #59
@keshav-nangare GetTile requests do not know ACCEPTVERSION. Requesting with VERSION is fine. Please revert commit https://github.com/opengeospatial/ets-wmts10/pull/61/commits/3eb93af807249ac1e836dd9710818f71fc997d72

[2020-03-04 13:25] keshav-nangare commented on #59
@lgoltz

I have removed ACCEPTVERSIONS parameters from GetTile and GetFeatureInfo test.

[2020-03-30 13:53] dstenger commented on #27
Can you please check if it is possible to include schematrons in this test suite (beware, it is CTL)?

[2020-03-31 08:06] keshav-nangare commented on #27
@dstenger

We can do this implementation as similar to the ets-csw20. Here is the reference:

https://github.com/opengeospatial/ets-csw202/blob/55137829e03856a11fbe95399adebb0c17d7b5bc/src/main/scripts/ctl/GetCapabilities/CSW-GetCapabilities-GET.xml#L116-L120

[2020-03-31 08:18] dstenger commented on #27
The provided Schematron can be used to test the WMTS Simple Profile but not the implementation standard itself (see https://www.ogc.org/standards/wmts).

@ghobona We should check if a test of the simple profile can be integrated into the test suite.

[2020-06-23 09:57] keshav-nangare commented on #56
@dstenger

I agree with the **pomakis** suggestion in the first comment. I am attaching below reference from the documentation:
![Capture](https://user-images.githubusercontent.com/14732650/85388854-3fcd5600-b564-11ea-9aaf-f4aa1744dfe4.PNG)

I have executed the test suite by adding `version=1.0.0` to the request in the `InvalidRequest` method as per the proposed solution and it worked fine.

[2020-06-23 10:03] keshav-nangare commented on #56
Fixed with this #62 PR.

[2020-07-09 07:10] ghobona commented on #27
@dstenger

We should integrate the WMTS Simple Profile into the existing WMTS ETS.

I will ask @keshav-nangare to proceed with the integration.

[2020-07-13 11:29] ghobona commented on #54
@keshav-nangare

I agree with @pomakis that the test should include a SERVICE=WMTS query parameter.

[2020-07-14 07:32] ghobona commented on #58
@keshav-nangare Please look into this.

[2020-07-15 12:30] keshav-nangare commented on #58
Fixed with #63 PR.

[2020-07-22 09:33] ghobona commented on #27
Discussion on 2020-07-22, @keshav-nangare to add the schematron in a separate test in the WMTS test suite.

[2020-07-24 05:21] keshav-nangare commented on #27
@dstenger @ghobona

Following are my findings:

- I faced some issues while loading Schematron referred in the first comment:
  1. The namespace for Schematron currently refers to `http://purl.oclc.org/dsdl/schematron`.
  2. It does not define any phase which can execute the pattern and the element `value-of` is having a problem as below:
`Line 30 - element "sch:value-of" not allowed here; expecte

[2020-07-29 11:24] keshav-nangare commented on #54
Fixed with #64 PR.

[2020-07-31 06:54] keshav-nangare commented on #27
@dstenger @ghobona

I have investigated the Schematron issue with ISO namespace and found a problem with our SchematronParser library. Currently, TE `SchematronValidatingParser.java`  using `jing library` to validate Schematron as per investigation it is not supporting the latest ISO Schematron. Also, I found a similar issue(# 258) opened in their GitHub [repository](https://github.com/relaxng/jin

[2020-07-31 10:54] ghobona commented on #27
I would suggest creating a separate class called `ISOSchematronValidatingParser.java`, then using [ph-schematron](http://phax.github.io/ph-schematron/) with the new class.

[2020-08-05 09:43] dstenger commented on #27
@keshav-nangare Please create a new issue in TEAM Engine tracker and implement an `ISOSchematronValidatingParser` as suggested in comment https://github.com/opengeospatial/ets-wmts10/issues/27#issuecomment-667062051.

[2020-08-19 08:44] dstenger commented on #27
ph-schematron uses Saxon-HE. Thus, https://github.com/opengeospatial/teamengine/issues/32 must be solved first.

Alternatively, we can check if there is another schematron library.

[2020-12-22 11:44] keshav-nangare opened #65 "Add template to get an XML/JSON response via rest endpoint"
Please see opengeospatial/cite#56

[2021-01-11 11:49] keshav-nangare commented on #65
Fixed with #66 PR.

[2021-04-07 11:13] keshav-nangare commented on #27
The changes for the Schematron are included in the #69 PR.

[2021-04-23 20:30] #65 closed

[2021-07-01 08:24] mloskot commented on #59
By the way, the OGC 07-057r7 document also displays `version` in the `GetCapabilities` example:

![image](https://user-images.githubusercontent.com/80741/124091685-61ee9380-da56-11eb-9628-c80acc68d985.png)

[2021-10-05 19:45] #56 closed

[2021-10-06 20:28] #59 closed

[2021-10-06 20:35] #54 closed

[2022-10-11 05:54] bangph opened #71 "Test WMTS: service=BOGUS or without service parameter value are problematic"
I saw a  couple of WMTS tests to check how server processed invalid requests.
- Test wmts:Server.KVP.GET.GetCapabilities.Request.NoService
  Request sent: http://conformance.rasdaman.com/rasdaman/ows?request=GetCapabilities&AcceptVersions=1.0.0
- Test wmts:Server.KVP.GET.InvalidService
  Request sent: http://conformance.rasdaman.com/rasdaman/ows?service=BOGUS&request=GetCapabilities&AcceptVersions

[2022-10-11 06:59] bangph commented on #71
@dstenger As I cannot determine it is testing WCS or WMTS, so I will have to rely on `AcceptVersions` parameter value. It if is 1.0.0 then it is WMTS.

[2022-10-11 09:37] bangph opened #72 "Test Server.KVP.GET.GetCapabilities.Response.Encoding.Constraint has a bug in Java XML validator when it contains both Get and Post KVP in Constraints"
If a WMTS GetCapabilities returns both Get and Post for KVP requests like below:

[code]
Then, OGC CITE test has this problem

[code]
![image](https://user-images.githubusercontent.com/6914451/195054976-57bc7b2d-c0db-4857-b6a1-0811f1a9bb40.png)

@dstenger So I have to set only 1 Get KVP here to pass the test.

[2022-10-11 15:52] dstenger commented on #71
Thank you for reporting.
You are right that the service cannot determine which ExceptionReport shall be returned as it supports multiple service types.
We will review the test suite and try to find a solution.

[2022-10-11 15:56] dstenger commented on #72
Thank you for reporting.
We will do further investigation.

[2022-11-01 16:12] cmorriscmps opened #73 "Test Server.KVP.GET.HTTP.Mandatory is flawed"
The test Server.KVP.GET.HTTP.Mandatory doesn't use any of the endpoints advertised in the Capabilities doc, but modifies the capabilities URL to create its own endpoint to submit a request to.  Since the request is not legitimate, there should be no expectations of the response.  For instance, a 200, 400, or 500 response with an error message is just as legitimate as the 404 response the test is l

[2022-11-02 09:54] dstenger commented on #73
Thank you for reporting.
We will check your proposal.

[2022-11-23 11:05] ghobona opened #74 "Check whether the ETS fully supports FeatureInfo"
Please check whether the ETS fully supports FeatureInfo.

If there is missing functionality in the FeatureInfo support, please document it as a comment in this GitHub Issue.